// =============================================================================
// HTML5 display definitions
// =============================================================================

// Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}

//Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

// Prevents modern browsers from displaying `audio` without controls.
// Remove excess height in iOS 5 devices.

audio:not([controls]) {
	display: none;
    height: 0;
}

// Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
// and Safari 4.
// Known issue: no IE 6 support.

[hidden] {
	display: none;
}
