// =============================================================================
// Links
// =============================================================================

a {
	color: #00e;

	// Addresses `outline` inconsistency between Chrome and other browsers.

	&:focus {
		outline: thin dotted;
	}

	// Improves readability when focused and also mouse hovered in all browsers.
	
	&:hover,
	&:active {
		outline: 0;
	}
}


